@page
@model Final_Project.IndexModel
@{
	<h3>Strona</h3>

	<form method="post">
	<label for="title">Title</label>
	<input type="text" asp-for="Title" />
		<button type="submit">Submit</button>
	</form>
}
