@page
@model Final_Project.Views.Home.FormsModel
@{
	ViewData["Title"] = "Forms";
}

<div class="container text-center mt-5">
	<h1 class="display-4">Create and Manage Forms</h1>
	<p class="lead">Easily create, share and analyze forms online.</p>
	<a class="btn btn-primary btn-lg mt-3" href="/Forms">Start</a>
</div>

