@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">

    <h1 class="display-4">Create and Manage Forms</h1>
    <p class="lead">Easily create, share and analyze forms online.</p>

    <a class="btn btn-primary btn-lg mt-3" href="/Forms">Start</a>
</div>
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4">
            <i class="bi bi-file-earmark-text" style="font-size: 3rem;"></i>
            <h3>Create Forms</h3>
            <p>Add questions and configure your own forms.</p>
        </div>
        <div class="col-md-4">
            <i class="bi bi-share" style="font-size: 3rem;"></i>
            <h3>Share</h3>
            <p>Send forms to other users or generate public links.</p>
        </div>
        <div class="col-md-4">
            <i class="bi bi-bar-chart" style="font-size: 3rem;"></i>
            <h3>Analyze Results</h3>
            <p>View responses and generate statistics.</p>
        </div>
    </div>
</div>

